# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/


# Data files (avoid pushing large datasets)
data/
*.csv

# Logs
*.log

# Environment variables
.env
